@model Client.ViewModels.ChatViewModel
@using Flurl;
@{
    ViewBag.Title = "Patient Chat";

    var baseUrl = Model.ApiBaseUrl.AppendPathSegments("api", "patient", Model.Id, "chat", "messages").ToString();
}

<div class="page-header">
    <h1>@Model.Name</h1>
</div>
@Html.Partial("_Chat")

@section Scripts {
    <script src="@Model.ApiBaseUrl.AppendPathSegments("signalr", "hubs")"></script>
    <script>
        $(document).ajaxSend(function (event, request) {
            request.setRequestHeader('Authorization', 'Bearer @Model.Token');
        });

        $(function () {
            function sendMessage() {
                var message = $('#message_input').val();
                if (message) {
                    $.connection.chatHub.server.sendMessage(@Model.Id, message).then(function () {
                        $('#message_input').val(null);
                    });
                }
            }

            function addMessage(m) {
                $('#chat_table > tbody').append(`<tr><td>${m.name}</td><td>${m.text}</td><td>${moment(m.received).format('lll')}</td></tr>`);
            }

            $.connection.hub.url = '@Model.ApiBaseUrl.AppendPathSegment("signalr").ToString()';
            $.connection.hub.qs = { 'authToken': '@Model.Token' };

            $.connection.chatHub.client.newMessage = function (m) {
                addMessage(m);
            };

            $.getJSON('@baseUrl').then(function (data) {
                data.forEach(function (m) {
                    addMessage(m);
                });

                $.connection.hub.start().done(function () {
                    $.connection.chatHub.server.join(@Model.Id);

                    $('#message_input').on('keypress', function () {
                        var keycode = event.keyCode ? event.keyCode : event.which;
                        if (keycode == '13') {
                            sendMessage();
                        }
                    });

                    $('#send_button').on('click', sendMessage);
                });
            });
        });
    </script>
}